[user]
	name = Francesco Mari
	email = mari.francesco@gmail.com
[alias]
  ls = !git --no-pager log --pretty=oneline --abbrev-commit -20
[push]
	default = simple
[http "https://gopkg.in"]
	followRedirects = true
[color]
	ui = auto
